.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.list_item {
    width: 100%;

}

.list_item_inner {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid gray;
}

.sqare {
    background-color: blueviolet;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.detail {
    width: 100%;
    height: 20px;
    position: relative;
}

.title {
    width: 60%;
    position: absolute;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.price {
    width: 50px;
    position: absolute;
    left: 65%;
}
.button{
    position: absolute;
    right: 0;
    cursor: pointer;
}